body {
    font-family: "Roboto Slab", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navigation-menu, .food-list, .new-menu, .sign-up, .menu-list-item {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

header {
    background-color: #edeff1;

}

.logo {
    float: left;
}

.logo a {
    padding: 49px 0 46px;
    display: inline-block;
}

.navigation {
    float: right;
    padding: 49px 0 46px;
}

.navigation-menu {
    margin: 0;
}

.navigation li {
    float: left;
}

.navigation-item a {
    display: inline-block;
    padding: 17px 24px;
    color: #31353e;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.navigation a:hover {
    color: #edeff1;
    background-color: #dd4b2b;
    border-radius: 25px;
}

section {
    text-align: center;
}

.section-food-menu {
    position: relative;
    background: url("../img/main-foto-panakeia.png")no-repeat scroll center/cover;
    height: 100vh;
    min-height: 850px;
}

.food-menu {
    position: absolute;
    width: 100%;
    bottom: 100px;
}

.food-list img {
    max-width: 134px;
}

h1, .food-menu span {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    line-height: 48px;
}

h1 {
    font-size: 72px;
    font-weight: 300;
}

.food-menu span {
    font-size: 30px;
    font-weight: 700;
}

.food-list li {
    width: 33.33%;
    float: left;
    padding: 0 40px;
    transition: 0.5s;
}

.food-list li:hover {
    background-color: khaki;
    border: 5px solid darkorange;
    opacity: 0.7;
    border-radius: 70px;
    transition: 0.5s;
}

.food-list h2, .food-list p {
    color: #ffffff;
}

.food-list h2:hover, .food-list p:hover {
    color: darkorange;
}

.food-list a:hover {
    color: darkorange;
}

.food-list h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
}

.food-list p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.more-food {
    padding-top: 79px;
}

.more-food a {
    color: #612316;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 19px 60px 21px 63px;
    border-radius: 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    transition: 0.5s;
}

.more-food a:hover {
    background-color: darkorange;
    opacity: 0.7;
    transition: 0.5s;
    color: white;
}

.section-new-menu {
    background-color: #edeff1;
    padding-top: 82px;
}

.section-new-menu h2 {
    color: #31353e;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
}

.new-menu li {
    float: left;
    width: 33.33%;
    padding: 84px 14px;
}

.new-menu h3, .new-menu p {
    color: #31353e;
    line-height: 30px;
}

.new-menu h3 {
    font-size: 24px;
    font-weight: 700;
}

.new-menu p {
    font-size: 15px;
    font-weight: 300;
}

.more-new-menu {
    margin-top: 39px;
}

.more-new-menu a {
    border-radius: 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    color: #4e5159;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    padding: 21px 52px 22px 56px;
    display: inline-block;
    transition: 0.5s;
}

.more-new-menu a:hover {
    background-color: #d75d0e;
    color: #612316;
    font-weight: 700;
    transition: 0.5s;
    font-size: 20px;
}

.newsletter {
    background: url("../img/background-burgers.png") no-repeat scroll center/cover;
    padding: 100px 0;
}

.newsletter h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 0;
}

.newsletter p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 43px;
    margin: 0;
}

input[type="email"], input[type="submit"] {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    padding: 10px;
}

form {
    max-width: 700px;
    display: inline-block;
}

input[type="submit"] {
    color: #612316;
    margin-left: -101px;
    min-width: 100px;
}

input[type="email"]:hover {
    opacity: 0.7;
}

input[type="submit"]:hover {
    background-color: #d75d0e;
}

input[type="email"] {
    background-color: transparent;
    width: 100%;
    float: left;
}

input::placeholder {
    color: #f3f4f6;
}

.section-sign-up {
    background-color: #ffffff;
    padding: 66px 0 88px;
    height: auto;
}

.sign-up li {
    text-align: left;
}

.sign-up img {
    border: 1px solid #dbdbdb;
    width: 50%;
}

.sign-up li:nth-child(even) img {
    float: left;
}

.sign-up li:nth-child(odd) img {
    float: right;
}

.red-background, .blue-background {
    float: left;
    width: 50%;
    padding-bottom: 60px;
}

.red-background {
    padding-right: 20px;
}

.blue-background {
    padding-left: 20px;
}

.sign-up h2 {
    color: #191b29;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
}

.sign-up p {
    color: #191b29;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.sign-up a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 19px 71px 17px 78px;
    border-radius: 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 48px;
    display: inline-block;
}

.red-background a {
    background-color: #dd4b2b;
}

.blue-background a {
    background-color: #4b4e73;
}

.red-background a:hover, .blue-background a:hover {
    opacity: 0.7;
}

.menu-list {
    background-color: #d75d0e;
    padding: 98px 0 84px;
    text-align: center;
}

.menu-list-item {
    float: left;
    width: 33.33%;
}

.menu-list-item a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    transition: 0.5s;
}

.menu-list-item a:hover {
    transition: 0.5s;
    color: #d75d0e;
    border-radius: 27px;
    border: 3px solid white;
    background-color: white;
    padding: 5px;
}

footer {
    background: url("../img/background-burgers.png") no-repeat scroll center/cover;
    text-align: center;
    padding: 85px 0 100px;
}

footer p {
    color: #ffffff;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

footer a {
    font-weight: 700;
    color: #ffffff;
    transition: 0.5s;
}

footer a:hover {
    color: #d75d0e;
    transition: 0.5s;
}

