.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.clearfix:after {
    contain: '';
    clear: both;
    display: block;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #edeff1;

}

.logo {
    float: left;
}

.logo a {
    padding: 49px 0 46px;
    display: inline-block;
}

.navigation {
    float: right;
    padding: 49px 0 46px;
}

.navigation li {
    float: left;
}

.navigation-item a {
    display: inline-block;
    padding: 17px 24px;
    color: #31353e;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.navigation a:hover {
    color: #edeff1;
    background-color: #dd4b2b;
    border-radius: 25px;
}

.main-foto {
    position: relative;
}

.main-menu {
    position: absolute;
    bottom: 100px;
}

